/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.aff-disclosure {
    background: #f7f7f7;
    padding: 20px;
    font-style: italic;
    margin-bottom: 50px;
    border: 1 px solid #e4e4e4;
    text-align: justify;
    margin-top: 30px;
}