/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.support-main {
    width: 1120px;
    padding: 30px;
    background-color: #e4e4e4;
    margin: 50px auto;
}